{erl_opts, [debug_info]}.

{pre_hooks, [{"freebsd", compile, "gmake -C c_src"},
             {"freebsd", clean, "gmake -C c_src clean"},
             {"netbsd", compile, "gmake -C c_src"},
             {"netbsd", clean, "gmake -C c_src clean"},
             {"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(linux|darwin|solaris)", clean, "make -C c_src clean"}
]}.
