name: build
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  ci:
    name: Run checks and tests over ${{matrix.otp_vsn}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        otp_vsn:
        - "22.3"
        - "23.3"
        - "24.0"
        os:
        - ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with: {}
    - name: Update apt-get database
      run: sudo apt-get update
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp_vsn}}
        rebar3-version: 3.16.1
    - name: Install libsodium
      run: apt-get install -y libsodium-dev
    - name: Compile source code
      run: make compile
    - name: Run the tests
      run: make tests
